<%= simple_form_for(@book) do |f| %>
  <%= f.input :title_de %>
  <%= f.input :title_en %>
  <%= f.input :author %>
  <%= f.input :description_de %>
  <%= f.input :description_en %>
  <%= f.input :image, as: :file %>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
