<h1>
  <%= @book.title %>
  <small><%= @book.author %></small>
</h1>

<%= image_tag @book.image.url %>

<%= @book.description %>

<%= link_to t('shared.edit'), edit_book_path(@book) %> |
<%= link_to t('shared.back'), books_path %>
