<%= simple_form_for(@medium, as: :medium, url: (@medium.persisted? ? medium_path(@medium) : media_path)) do |f| %>
  <% unless @medium.persisted? %>
    <%= f.input :type, collection: [Movie, TwoMoviesAndText] %>
  <% end %>

  <% unless @medium.class == Medium %>
    <fieldset>
      <legend><%= t('.general') %></legend>
      <%= f.association :chapter, label_method: :to_s %>
      <%= f.input :title_de %>
      <%= f.input :title_en %>
      <%= f.input :teaser_de %>
      <%= f.input :teaser_en %>
      <div class="one-line">
        <div>
          <%= f.input :thumbnail, as: :file %>
        </div>
        <div>
          <%= image_tag @medium.thumbnail.thumb('400x200#').url if @medium.thumbnail_stored? %>
        </div>
      </div>
    </fieldset>

    <%= render "form.#{@medium.class.to_s.underscore}", f: f %>

    <div class="actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %>
