<%= simple_form_for(@medium, as: :medium, url: (@medium.persisted? ? medium_path(@medium) : media_path)) do |f| %>
  <%= f.input :type, collection: [Movie, TwoMoviesAndText] %>

  <% unless @medium.class == Medium %>
    <fieldset>
      <legend><%= t('.general') %></legend>
      <%= f.input :title %>
      <%= f.input :teaser %>
      <%= f.input :thumbnail, as: :file %>
    </fieldset>

    <%= render "form.#{@medium.class.to_s.underscore}", f: f %>

    <div class="actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %>
