<%= simple_form_for(@medium, url: (@medium.persisted? ? medium_path(@medium) : media_path)) do |f| %>
  <fieldset>
    <legend><%= t('.general') %></legend>
    <%= f.input :type, collection: [Movie], include_blank: false %>
    <%= f.input :title %>
    <%= f.input :teaser %>
    <%= f.input :thumbnail, as: :file %>
  </fieldset>

  <fieldset>
    <legend><%= t('.movie') %></legend>
    <%= f.input :file, as: :file %>
  </fieldset>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
