<%= simple_form_for(@medium, url: media_path) do |f| %>
  <fieldset>
    <legend><%= t('.general') %></legend>
    <%= f.input :type, collection: [Movie.model_name.human] %>
    <%= f.input :title %>
    <%= f.input :teaser %>
    <%= f.input :thumbnail, as: :file %>
  </fieldset>

  <fieldset>
    <legend><%= t('.movie') %></legend>
    <%= f.input :file, as: :file %>
  </fieldset>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
