<h1><%= Medium.model_name.human count: 2 %></h1>

<table>
  <thead>
    <tr>
      <th><%= Medium.human_attribute_name :type %></th>
      <th><%= Medium.human_attribute_name :title %></th>
      <th><%= Medium.human_attribute_name :teaser %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.type %></td>
        <td><%= medium.title %></td>
        <td><%= medium.teaser %></td>
        <td class="actions">
          <%= link_to t('shared.show'), medium_path(medium) %>
          <%= link_to t('shared.edit'), edit_medium_path(medium) %>
          <%= link_to t('shared.destroy'), medium_path(medium), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to t('shared.new', resource: Medium.model_name.human), new_medium_path %>
      </td>
    </tr>
  </tfoot>
</table>
