<h1>
  <%= @medium.title %>
  <small><%= @medium.type %></small>
</h1>

<div class="details">
  <div>
    <%= image_tag @medium.thumbnail.url %>
  </div>

  <div>
    <p><%= @medium.teaser %></p>
    <%= link_to t('shared.download'), @medium.file.url %>
  </div>
</div>


<%= link_to t('shared.edit'), edit_medium_path(@medium) %> |
<%= link_to t('shared.back'), media_path %>
