<h1>
  <%= @medium.title %>
  <small><%= @medium.type %></small>
</h1>

<p><%= @medium.teaser %></p>

<div class="details">
  <div>
    <%= image_tag @medium.thumbnail.url %>
  </div>

  <div>
    <%= render @medium.class.to_s.underscore %>
  </div>
</div>

<%= link_to t('shared.edit'), edit_medium_path(@medium) %> |
<%= link_to t('shared.back'), media_path %>
