<!DOCTYPE html>
<html>
<head>
  <title>Rhino</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

  <% if signed_in? %>
    <nav>
      <div class="wrapper">
        <%= link_to Medium.model_name.human(count: 2), media_path %>
        <%= link_to User.model_name.human(count: 2), users_path %>
      </div>
    </nav>
  <% end %>
  <section class="wrapper">
    <% if flash.any? %>
      <% flash.each do |status, text| %>
        <div class="flash-<%= status %>">
          <span><%= text %></span>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </section>

</body>
</html>
